:root {
  --white: hsl(0, 0%, 100%);
  --light-pink: hsl(275, 100%, 97%);
  --grayish-purple: hsl(292, 16%, 49%);
  --dark-purple: hsl(292, 42%, 14%);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--light-pink);
  background-image: url(assets/images/background-pattern-desktop.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  font-family: "Work Sans", "sans-serif";
  min-height: 100vh;
  display: grid;
  place-content: center;
}
img,
svg {
  max-width: 100%;
  display: block;
}
button {
  cursor: pointer;
  background-color: transparent;
  display: flex;
  width: 100%;
  padding: 1rem 0px;
  font-size: 1.1rem;
  font-weight: 600;
  text-align: left;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  border: 0;
}
button:hover {
  color: purple;
}
.main-container {
  background-color: var(--white);
  max-width: 650px;
  padding: 1.5rem;
  margin: 1rem;
  border-radius: 1rem;
}
.faq-heading {
  display: flex;
  gap: 2rem;
}
.faq-heading h1 {
  font-size: 4rem;
  font-weight: 700;
}

.sub-container .heading:not(:last-child) {
  border-bottom: 2px solid var(--light-pink);
}
.details {
  cursor: pointer;
  background-color: transparent;
  display: flex;
  width: 100%;
  padding: 1rem 0px;
  font-size: 1.1rem;
  font-weight: 600;
  text-align: left;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  border: 0;
  font-family: "Work Sans", "sans-serif";
}
.details:hover {
  color: purple;
}
.details p {
  color: grey;
  font-size: 16px;
}

.icons img {
  min-width: 30px;
}
.icons .minus-icon {
  display: none;
}
.description {
  background-color: var(--white);
  max-height: 0;
  overflow: hidden;
  transform: max-height 200ms ease;
}
.description p {
  color: var(--grayish-purple);
  padding: 1.5rem;
}
@media (max-width: 540px) {
  body {
    background-image: url(assets/images/background-pattern-mobile.svg);
  }
}
